<.header>
  Edit Medical record {@medical_record.id}
  <:subtitle>Use this form to manage medical_record records in your database.</:subtitle>
</.header>

<.medical_record_form changeset={@changeset} action={~p"/medical_records/#{@medical_record}"} />

<.back navigate={~p"/medical_records"}>Back to medical_records</.back>
